.navbar {
  font-family: "Playfair Display SC", serif;
}
.navLink {
  font-size: 1.2rem;
  color: rgb(201, 175, 98) !important;
}
.navLink > a {
  color: rgb(201, 175, 98) !important;
}
.navLink > div {
  background-color: black;
  margin-top: 1rem !important;
  text-align: center;
}
