.navbar {
  font-family: "Playfair Display SC", serif;
}
.navLink {
  font-size: 1.2rem;
  color: rgb(201, 175, 98) !important;
}
.navLink > a {
  color: rgb(201, 175, 98) !important;
}
.navLink > div {
  background-color: black;
  text-align: center;
}
.navLink > div > span:active {
  background-color: rgba(255, 255, 255, 0.15) !important;
}

@media only screen and (min-width: 768px) {
  .navLink > div {
    margin-top: 1rem !important;
  }
}
