.image {
  width: 300px;
  height: 200px;
  display: block;
  border: solid 3px white;
  position: relative;
}
.front {
  cursor: pointer;
}
.back {
  text-align: center;
  color: black;
  padding: 1rem;
  font-family: "Goudos";
  font-size: 1.3rem;
  background: rgba(237, 225, 225, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 4px;
}

@media only screen and (max-width: 1399px) {
  .image {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 319px) {
  .image {
    width: 250px;
  }
}
