@font-face {
  font-family: "Goudos";
  src: url("/fonts/GOUDOSI.TTF");
}
.main {
  font-family: "Goudos";
  position: relative;
}

.imageWrapper {
  position: relative;
  height: calc(100vh - 66px);
  opacity: 0.7;
}
.imageWrapper > span {
  opacity: 0 !important;
  animation: animateBackground 27s infinite;
}
.imageWrapper > span:nth-of-type(2) {
  animation-delay: 9s;
}
.imageWrapper > span:nth-of-type(3) {
  animation-delay: 18s;
}

.date {
  position: absolute;
  top: 0;
  margin-top: 1rem;
  margin-left: 1rem;
}
.name {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 1rem;
  margin-right: 1rem;
  color: white;
}

@media only screen and (min-width: 1200px) {
  .name > h2 {
    font-size: 8rem !important;
  }
}
@keyframes animateBackground {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
