.main {
  min-height: calc(100vh - 66px);
  position: relative;
  font-family: "Playfair Display SC", serif;
}
.main > span {
  position: absolute !important;
  opacity: 0.8 !important;
  z-index: -1;
  inset: 0;
}
.toggler {
  font-family: "Playfair Display", serif;
  cursor: pointer;
}
.toggler:hover {
  text-decoration: underline;
}
